.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px 5px;
}

.grid-item {
    background-color: green;
    text-align: center;
}

.autistic {
    grid-column: 1/3;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px 5px;
    justify-content: center;
}

.gun {
    width: 10vw;
}


.random {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px 5px;
    
    
}

div>p {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

div>img {
    text-align: center;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
}